<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>964353207602-bvqletfbced1b6hi45lat9gr57qrl042.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.964353207602-bvqletfbced1b6hi45lat9gr57qrl042</string>
	<key>API_KEY</key>
	<string>AIzaSyCzbDUGnyvPLQ8Uy-5Vvsdyq9fCcHe0y58</string>
	<key>GCM_SENDER_ID</key>
	<string>964353207602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-890f4</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-890f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:964353207602:ios:d44f1bd98631fe30b5bb2b</string>
</dict>
</plist>